
body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages7.alphacoders.com%2F362%2F362445.jpg&f=1&nofb=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .heading {
    margin-bottom: 20px;
    font-size: 3rem;
    color: rgb(255, 230, 230);
    }
    
    .header {
    display: flex;
    align-items: center;
    }
    
    .timer, .errors, .accuracy,
    .cpm, .wpm {
    background-color: #3b3b37;
    height: 60px;
    width: 70px;
    margin: 8px;
    padding: 12px;
    border-radius: 50%;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
    
    .cpm, .wpm {
    display: none;
    }
    
    .header_text {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
    }
    
    .curr_time, .curr_errors,
    .curr_accuracy, .curr_cpm,
    .curr_wpm {
    font-size: 2.75rem;
    }
    textarea{
        color: whitesmoke;
        outline: none;
    }
    
    .quote {
    background-color: #2d2e2a;
    font-size: 1.6rem;
    margin: 10px;
    margin-top: 25px;
    color: rgb(236, 225, 225);
    padding: 25px;
    box-shadow: rgb(32, 27, 27) 5px 8px 5px;
    }
    
    .input_area {
    background-color: #494343;
    height: 30vh;
    width: 90%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 0px;
    color: whitesmoke;
    box-shadow: black 5px 8px 5px;
    }
    
    .restart_btn {
    display: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
    color: blanchedalmond;
    border-radius: 5px;
    box-shadow: black 5px 8px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.restart_btn:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
    
    .incorrect_char {
    color: red;
    text-decoration: underline;
    }
    
    .correct_char {
    color: darkgreen;
    }
    